{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="helloContainer">
    <h1 id="haloText">Friend Request</h1>
    <h1 id="helloText">Friend Request</h1>
</div>

<div class="container mt-5" style="padding: 0 20% 0 20%;">
    {% if messages %}
    <div class="messages card mb-5 mt-5">
        {% for message in messages %}
        <div {% if message.tags %} class=" card-body {{ message.tags }}"{% endif %}>
            {{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form method="POST">{% csrf_token %}
        <div class="container mb-3">
            <label for="{{ form.firstName.id_for_label }}">First Name</label>
            {{ form.firstName }}
        </div>
        <div class="container mb-3">
            <label for="{{ form.lastName.id_for_label }}">Last Name</label>
            {{ form.lastName }}
        </div>
        <div class="container mb-3">
            <label for="{{ form.classYear.id_for_label">Class Year</label>
            {{ form.classYear }}
        </div>
        <div class="container mb-3">
            <label for="{{ form.hobby.id_for_label">Hobby</label>
            {{ form.hobby }}
        </div>
        <div class="container mb-3">
            <label for="{{ form.favoriteFood.id_for_label">Favorite Food</label>
            {{ form.favoriteFood }}
        </div>
        <div class="container mb-3">
            <label for="{{ form.favoriteDrink.id_for_label }}">Favorite Drink</label>
            {{ form.favoriteDrink }}
        </div>
        <div class="container mb-5 mt-4 text-center">
            <button type="submit" class="btn btn-light btn-outline-dark mb-5">Submit</button>
        </div>
    </form>
</div>

{% endblock %}