{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="helloContainer">
    <h1 id="haloText">Figo's Friends</h1>
    <h1 id="helloText">Figo's Friends</h1>
</div>

<div class="container text-center mt-4 mb-4">
    <p>Want to be in the list?</p>
    <a href="form" class="btn btn-light btn-outline-dark"
        style="font-size: 1rem;" role="button" aria-pressed="true">Add</a>
</div>

<div class="container mt-5 mb-5">
    <div class="d-flex flex-wrap justify-content-center">
        {% for friend in friendsList %}
            {% if friend.isValidated == True %}
            <div class="card mb-3 mr-3" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title" style=" color: #1E4756;">{{ friend.firstName }} {{ friend.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ friend.classYear }}</h6>
                <p class="card-text">
                    Hobby: {{ friend.hobby }}<br>
                    Favorite Food: {{ friend.favoriteFood }}<br>
                    Favorite Drinks: {{ friend.favoriteDrink }}
                </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
</div>
{% endblock %}