{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="helloContainer">
    <h1 id="haloText">Halo!</h1>
    <h1 id="helloText">Hello!</h1>
</div>

<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col-sm">
            <img id="profilePhoto" class="mx-auto d-block"
                    src="{% static 'images/profile-min.jpeg' %}" alt="Photo of Figo Alfaritzi">
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm"><h1>Figo<br>Muhammad<br>Alfaritzi</h1></div>
            </div>
            <div class="row">
                <div class="col-sm"><h3><br><br><br>Photographer, Web Developer<br>
                    Jakarta, Indonesia</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm"><h3>1806241072<br>Universitas Indonesia/2018<br>
                    Computer Science</h3></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p id="descriptionPar">Figo loves to make jokes. He loves to see people smile and laugh. Figo likes to think philosophically. With his systematical thinking system, he mainly questions a reason behind every action and anything in this world. He loves to think, talk, and teach about humanity, science, inventions, politics, arts, ideologies, and religions, especially Islam. Figo has its own taste and preferences. He loves things that perfectly symmetrical. He currently has a dream; travel the world, take photos of it, and share it to the world.</p>
</div>

<div class="container mt-5 mb-5">
    <div class="row align-items-center" id="SkillsWorksRow">
        <div class="col-sm" id="skillsWorksCol">
            <h2>Skills</h2>
            <ul>
                <li>Photography and Videography</li>
                <li>Programming Languages (Java and Python)</li>
                <li>Static Web Development</li>
            </ul>
            <h2>Work Experience</h2>
            <ul>
                <li>Vice Head of Documentation Division<br>
                    TEDxUniversitasIndonesia</li>
                <li><a href="https://www.instagram.com/katalayar.id/">
                    CEO of Katalayar Indonesia (Startup)<br></a></li>
                <li><a href="https://www.instagram.com/go.get.gold/">
                    Co-founder of Go Get Gold (Startup)<br>Web Developer, Secretary</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <img class="mx-auto d-block" src="{% static 'images/DSC09401-min.jpg' %}"
                    id="buildingPhoto" alt="Photo of a construction">
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row align-items-center" id="socialMediaRow">
        <div class="col-sm text-center">
            <p class="socialMediaText">Full Photography Works</p>
            <a id = "instagram" href="https://www.instagram.com/figoalfaritzi/" id="instagram"><i class="fab fa-instagram"></i>   @figoalfaritzi</a>
        </div>
        <div id="email" class="col-sm text-center">
            <a href="mailto:figoalfaritzi@gmail.com" target="_top"><i class="far fa-envelope"></i>   figoalfaritzi@gmail.com</a>
        </div>
        <div class="col-sm text-center">
            <p class="socialMediaText">Full Curriculum Vitae</p>
            <a id = "linkedin" href="https://www.linkedin.com/in/figoalfaritzi/" id="linkedin"><i class="fab fa-linkedin-in"></i>   figoalfaritzi</a>
        </div>
    </div>
</div>
{% endblock %}
