{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="helloContainer">
    <h1 id="worksBigText">Works</h1>
    <h1 id="worksText">Works</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            {% for work in worksListOne %}
            <img class="img-fluid" src="{% get_static_prefix %}images/{{ work.imageName }}.jpg">
            {% endfor %}
        </div>
        <div class="col-sm-6">
            {% for work in worksListTwo %}
            <img class="img-fluid" src="{% get_static_prefix %}images/{{ work.imageName }}.jpg">
            {% endfor %}
        </div>
</div>

<div class="container text-center mt-5 mb-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
        View More
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Full Photography Works</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This button will open up Figo's Instagram website.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark"
                        onclick="window.open('https://www.instagram.com/figoalfaritzi/', '_blank')"
                        data-dismiss="modal">
                        Proceed
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
