@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

/* Homepage */

body {
    font-family: 'Bitter', serif;
}

h1 {
    color: #1E4756;
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-style: italic;
    font-weight: bold;
    color: #1E4756;
    font-size: 50px;
    line-height: 100px;
}

h3 {
    font-size: 20px;
}

h5 {
    color: #1E4756;
}

a {
    color: black;
}

#helloText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    margin-top: -110px;
}

#haloText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    margin-top: 50px;
    
    color: #ffffff;
    text-shadow: -1px -1px 0 #c2c5cc, 1px -1px 0 #c2c5cc, -1px 1px 0 #c2c5cc,
        1px 1px 0 #c2c5cc;
}

#profilePhoto {
    width: 500px;
}

#skillsWorksCol {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

#descriptionPar {
    font-size: 20px;
    line-height: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#buildingPhoto {
    width: 500px;
}

#socialMediaRow {
    font-size: 25px;
}

.socialMediaText {
    font-style: italic;
    font-size: 20px;
}

@media (max-width: 575.98px) {
    #helloText {
        font-size: 350%;
        margin-top: 50px;
    }

    #haloText {
        display: none;
    }
    
    #profilePhoto {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    #email {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    #buildingPhoto {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    h1 {
        text-align: center;
        margin-top: 30px;
    }
    h3 {
        text-align: center;
    }

    #skillsWorksCol {
        text-align: center;
        line-height: auto;
        margin-bottom: 30px;
    }
    
    li {
        text-align: left;
    }

    #SkillsWorksRow {
        justify-content: center;
        text-align: center;
    }

    #socialMediaRow {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    #descriptionPar {
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* Works Page */

#worksSection {
    background-color: black;
}

#worksText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 490%;
    margin-top: -110px;
    color: white;
}

#worksBigText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 550%;
    margin-top: 50px;
    
    color: black;
    text-shadow: -1px -1px 0 #c2c5cc, 1px -1px 0 #c2c5cc, -1px 1px 0 #c2c5cc,
        1px 1px 0 #c2c5cc;
}

.img-fluid {
    margin-top: 30px;
}
